/* Untuk Tablets */
@media (max-width: 1000px) {
    .top-wrapper h1 {
        font-size: 32px;
    }
    .profil{
      flex-direction: column;
      margin: 0 sauto;
      padding: 100px 50px;
    }
    .profil-2{
      flex-direction: column;
      margin: 0 sauto;
      padding: 100px 50px;
    }
    .txt-profil h3,p{
      text-align: center;
    }

    .txt-profil{
      width: 90%;
      margin-top: 1em;
    }
    
    .header {
      text-align: left;   
    }
     .header-right {
       display: none;
    }   
}

/* Untuk Smartphones */
@media (max-width: 670px) {
    .top-wrapper {
        text-align: left;
      }
      
      .top-wrapper h1 {
        font-size: 24px;
      }
    .profil{
        flex-direction: column;
        margin: 0 auto;
    }
    .profil-2{
        flex-direction: column;
        margin: 0 auto;
    }
    .txt-profil h3,p{
        text-align: center;
    }

    .txt-profil{
        width: 90%;
        margin-top: 1em;
        font-size: 25px;
    }
    .txt-profil p{
        font-size: 15px;
    }
     .header {
      text-align: left;   
    }
     .header-right {
       display: none;
    }  
}
