/* Untuk Tablets */
@media all and (max-width: 1000px) {
.lesson {
    width: 50%;
    margin-bottom: 50px;
    }
    
    .top-wrapper {
        background-image: center;
        width: 50%;
    }
    
    .top-wrapper h1 {
        font-size: 32px;
    }
    .profil{
      flex-direction: column;
      margin: 0 auto;
      padding: 100px 50px;
    }
    .profil-2{
      flex-direction: column;
      margin: 0 auto;
      padding: 100px 50px;
    }
    .txt-profil h3,p{
      text-align: center;
    }

    .txt-profil{
      width: 90%;
      margin-top: 1em;
    }
    
      .header-logo {
      width: 50%;
      font: 50%;
      text-align: auto;   
    } 
    
    .nav-logo {
    font-size: 28px;
    width: 50%;
    }
    
    .contact-form {
     width: 50%;
     text-align: center;
    }
    
    .navbar a{
      width: 50%;
    } 
    
   .input {
   width: 50%;
   }     
    
   .nav-menu {
    width: 50%;
   }
    
   .dropdown {
    width: 50%;
   }
    
}

/* Untuk Smartphones */
@media (max-width: 670px) {
    .lesson {
    width: 100%;
    }
    
    .nav-logo {
    font-size: 28px;
    width: 100%;
    }
    
    .navbar a{
      width: 100%;
    }  
   
     footer {
        text-align: center;
      }
    
     .btn {
        width: 100%;
      }    
        
    .top-wrapper {
        text-align: center;
        background-image: 100%;
        width: 100%;
      }
      
      .top-wrapper h1 {
        font-size: 24px;
        line-height: 36px;
      }
    
    .top-wrapper p {
        font-size: 14px;
        line-height: 20px;
      }
    
    .header-right {
    display: none;
  }
    
    .profil{
        flex-direction: column;
        margin: 0 auto;
    }
    .profil-2{
        flex-direction: column;
        margin: 0 auto;
    }
    .txt-profil h3,p{
        text-align: center;
    }

    .txt-profil{
        width: 90%;
        margin-top: 1em;
        font-size: 25px;
    }
    .txt-profil p{
        font-size: 15px;
        text-align: center;
    }
    
     .header-logo {
      width: 100%;
      font: 100%;
      text-align: auto;
    }
    
    .menu-icon {
    display: block;
    width: 100%;
  }

    .btn {
    width: 100%;
  }
   
     .contact-form {
     width: 100%;
     text-align: center;
    }
    
   .input {
   width: 100%;
   } 
    
    .nav-menu {
    width: 100%;
   }
    
   .dropdown {
    width: 100%;
   }
  
}
